use Mix.Config

# In this file, we keep production configuration that
# you'll likely want to automate and keep away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or yourself later on).
config :ansible_phoenix_build, AnsiblePhoenixBuildWeb.Endpoint,
  secret_key_base: "{{ secret_key_base }}"

# Configure your database
config :ansible_phoenix_build, AnsiblePhoenixBuild.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "{{ database_username }}",
  password: "{{ database_password }}",
  database: "{{ database_name }}",
  pool_size: 15
